{% extends 'base.html' %}

{% block content %}
    {% for comment in comments %}
        <div class="container">
            <div class="comments">
                <p class="font-weight-bold">
                    {{ comment.user }}
                    <span class="text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span>
                </p>
                {{ comment.text_content | linebreaks }}
            </div>
        </div>
    {% endfor %}
{% endblock %}