{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="question" style="padding: 1 1rem; padding-top: 1rem;">
                <h4>{{ post.title }}</h4>
                <p>Asked {{ post.created_on|date:'M d, Y' }} | {{ post.user }}</p>
                <a href="{% url 'ask' %}"><button type="button" class="btn btn-primary">Ask Question</button></a>
                <p style="padding-top: 2rem;">{{ post.text_content|markdown }}</p>
                <p>{{ post.tags.all|join:', ' }}</p>
                <a href="{% url 'edit' post.slug %}">Edit Question</a> |
                <a href="{% url 'delete' post.slug %}">Delete Question</a>
            </div>
        </div>
        <hr>
        <!--{% for comment in post.comments.all %}
        <div class="comment" style="margin: 20px 0px 20px 20px;">
            <h6 style="font-size: 1rem;">{{ comment.text_content|markdown }}</h6>
            <h6 style="font-size: 0.8rem;">{{ comment.user }} | {{ comment.created_on|date:'M, d Y' }} at {{ comment.created_on|date:'f a' }}</h6>
        </div>
        {% empty %}
            <p>No comments yet</p>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>-->
        <div id="wpac-comment"></div>
            <script type="text/javascript">
            wpac_init = window.wpac_init || [];
            wpac_init.push({widget: 'Comment', id: 26549});
            (function() {
                if ('WIDGETPACK_LOADED' in window) return;
                WIDGETPACK_LOADED = true;
                var mc = document.createElement('script');
                mc.type = 'text/javascript';
                mc.async = true;
                mc.src = 'https://embed.widgetpack.com/widget.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
            })();
            </script>
            <a href="https://widgetpack.com" class="wpac-cr">Comments System WIDGET PACK</a>
    </div>
{% endblock %}