{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="">
    <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
</div>
{% endblock %}